## Data Wranging

In [2]:
import pandas as pd

In [190]:
# we load the dataset into a DF
df = pd.read_csv('src/DisneylandReviews.csv', sep=',', encoding='latin-1')

In [191]:
df

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong
...,...,...,...,...,...,...
42651,1765031,5,missing,United Kingdom,i went to disneyland paris in july 03 and thou...,Disneyland_Paris
42652,1659553,5,missing,Canada,2 adults and 1 child of 11 visited Disneyland ...,Disneyland_Paris
42653,1645894,5,missing,South Africa,My eleven year old daughter and myself went to...,Disneyland_Paris
42654,1618637,4,missing,United States,"This hotel, part of the Disneyland Paris compl...",Disneyland_Paris
42655,1536786,4,missing,United Kingdom,"I went to the Disneyparis resort, in 1996, wit...",Disneyland_Paris

In [192]:
# We create the col 'Year' by using Regex in the 'Year-Month' col
df['Year'] = df['Year_Month'].str.extract('(\d{4})', expand=True)

In [193]:
# 2613 NaNs in the new col, not very significative, around 6% of total rows 
df['Year'].isna().sum()

2613

In [194]:
# They appeared because there was 2613 'missing' values in the original 
# df col 'Year_Month', so these NaNs were to be expected
len(df[df['Year_Month'] == "missing"])

2613

In [195]:
# We create the col 'Month' by using Regex in the 'Year-Month' col
df['Month'] = df['Year_Month'].str.extract('(\d+(?!.*-))', expand=True)

In [196]:
# Again, 2613 NaNs in the new col
df['Month'].isna().sum()

2613

In [197]:
# col 'Year' is type object, we convert it to float
df.dtypes

Review_ID             int64
Rating                int64
Year_Month           object
Reviewer_Location    object
Review_Text          object
Branch               object
Year                 object
Month                object
dtype: object

In [198]:
df['Year'] = df['Year'].astype(float)

In [199]:
df.sample(3)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch,Year,Month
42140,87799780,5,missing,United Kingdom,Went to Disneyland Paris with my nearly six ye...,Disneyland_Paris,NaN,NaN
36320,275255998,3,2015-5,United Kingdom,We were lucky whilst we were there that the we...,Disneyland_Paris,2015.0,5
26758,129337583,5,2012-5,United States,We had a great time at Disneyland...I was a li...,Disneyland_California,2012.0,5

In [200]:
# Then we change the month int to month name. The abbreviated month names is the first 
# three letters of their full names, so we first convert the Month column to datetime 
# and then use dt.month_name() to get the full month name and finally use str.slice() 
# method to get the first three letters
import calendar
df['Month'] = df['Month'] = pd.to_datetime(df['Month'], format='%m').dt.month_name().str.slice(stop=3)

In [201]:
df.sample(5)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch,Year,Month
13453,459707192,5,2017-2,United States,Disneyland does a fantastic job of entertainin...,Disneyland_California,2017.0,Feb
18773,283208955,5,2015-3,United States,Download a wait times app. I usually use Mouse...,Disneyland_California,2015.0,Mar
23799,170563198,5,2013-7,United States,We are magic kingdom regulars here in Florida ...,Disneyland_California,2013.0,Jul
3648,401945850,5,2016-7,Philippines,Well what can I say? Its the happiest place on...,Disneyland_HongKong,2016.0,Jul
10210,627043360,1,2018-10,Canada,My family had been to many Disneyland and Disn...,Disneyland_California,2018.0,Oct

## Export clean csv

The newly added 'Year' and 'Month' columns will be useful for the analysis later on. Therefore, we proceed to export the more complete dataset to a csv file. Then, we will use this file to seed a database with its info on SQL.

In [ ]:
df.to_csv("disney_reviews_clean.csv")

## Export to SQL using sqlalchemy

In [75]:
import pandas as pd
import sqlalchemy as alch
import os
import dotenv 

dotenv.load_dotenv()

# Establishing connection

password = os.getenv("sql_password")
dbName = "disney"
connectionData = f"mysql+pymysql://root:{password}@Ironhack/{dbName}"
engine = alch.create_engine(connectionData)

df = pd.read_csv('src/DisneylandReviews.csv', sep=',', encoding='latin-1')
df.to_sql('tablename', con=engine)


# Loading to the new info
table = "disneyland_reviews"
df = pd.read_csv("path to the file you want to load")
df.to_sql(table, con=engine)

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'disney' ([Errno 8] nodename nor servname provided, or not known)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
# Checking it works
sql_df = pd.read_sql(
    f"SELECT * FROM {table};",
    con=engine)
sql_df.sample()